*.iml
.gradle
/local.properties
/build
.kotlin/
/captures
.externalNativeBuild
.cxx

.idea/
*.ipr
*.iws

.DS_Store
Thumbs.db

*.log
/captures
*.bak
*.swp

*.jks
*.keystore
*.apk
*.ap_
*.dex

google-services.json

.gradle/
build/